<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% if (user) { %> <% if (user.membership) { %>
    <h2>
      Welcome member <%= user.first_name %> to our exclusive Hot Takes clubhouse
    </h2>
    <% } else { %>
    <h2>Welcome <%= user.first_name %> to our exclusive Hot Takes clubhouse</h2>
    <% } %> <% } %>
  </body>
</html>
