<footer class="footer">
  <p>Hot takes | Pierre Gronnier</p>
  <a href="https://github.com/PierreGronnier" target="_blank">
    <img src="/img/github.png" alt="GitHub Logo" class="footer-logo" />
  </a>
</footer>
